{% extends "::entity.html.twig" %}

{% block title %}EntityBundle:Categorie:all{% endblock %}

{% block body %}
    <div class="row">
        <div class="container">
            <h1 class="titleS">Gestion des Categories</h1>
            <div class="col s12">
                <a href="{{ path('categorie_create') }}" class="btn-floating btn-large waves-effect waves-light  brown lighten-3 right"><i class="material-icons">add</i></a>
            </div>
            <div class="col s12">
                <ul class="collapsible" data-collapsible="accordion">
                    {% for categorie in categories %}

                        <li>
                            <div class="collapsible-header brown lighten-3"><i class="material-icons">build</i><b>{{ categorie.name }}</b></div>
                            <div class="collapsible-body">
                                <table>
                                     <tr>
                                    {% for attribute in categorie.attributes %}
                                            <td>
                                                 <div class="chip">
                                                       <a class="black-text darken-1" href="{{ path('attribute_view', {'id': categorie.id}) }}">{{ attribute.name }}</a>
                                                  </div>
                                            </td>
                                    {% endfor %}
                                    </tr>
                                    <a href="{{ path('categorie_view', {'id': categorie.id}) }}" class="right  btn waves-effect waves-light"><i class="material-icons">list</i></a>
                                    <a href="{{ path('attribute_create',{'id': categorie.id}) }}" class="right  btn waves-effect waves-light"><i class="material-icons">add</i></a>
                                </table>
                            </div>
                        </li>
                    {% endfor %}

                </ul>
            </div>
        </div>
    </div>
{% endblock %}
