{% extends "::entity.html.twig" %}

{% block title %}EntityBundle:Categorie:all{% endblock %}

{% block body %}
    <h1>Toutes Categories</h1>
    <a href="{{ path('categorie_create') }}">Créer une categorie</a>
    <table>
        {% for categorie in categories %}
            <tr>
                <td style="border: 1px solid black">{{ categorie.id }}</td>
                <td style="border: 1px solid black"><a href="{{ path('categorie_view', {'id': categorie.id}) }}">{{ categorie.name }}</a></td>
                <td style="border: 1px solid black">
                    {% for attribute in categorie.attributes %}
                        <p><a href="{{ path('attribute_view', {'id': categorie.id}) }}">{{ attribute.name }}</a></p>
                    {% endfor %}
                    <a href="{{ path('attribute_create',{'id': categorie.id}) }}">Créer un attribut</a>
                </td>

            </tr>
        {% endfor %}
    </table>
{% endblock %}
