{% extends "::entity.html.twig" %}

{% block title %}EntityBundle:Categorie:view{% endblock %}
{% block javascript %}
    <script>
        $(".button-collapse").sideNav();
    </script>
{% endblock %}

{% block body %}

    <ul id="slide-out" class="side-nav">
        <li>Recherche par filtre</li>
        <form action="#" method="post">
            <input type="hidden" name="catrgory_id" value="{{ categorie.id }}">
        {% for attribute in categorie.attributes %}
            <li>
                {{ attribute.name }} :
            </li>
            <li>
                {{ include('EntityBundle:Categorie:attribute/input.html.twig',{
                    "attribute":attribute,
                    "value":0,
                }) }}
            </li>
        {% endfor %}

        <li><input type="submit" value="search"></li>
        </form>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>


    <h1>Categorie : {{ categorie.name }}</h1>
    <div class="row">

        <div class="col s12">
            <p><b>A la une :</b></p>

            {% for products in categorie_products %}
                <div class="col s3">
                    {{ include('EntityBundle:Entity:card.html.twig',{
                        "product":products,
                    }) }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
