{% extends "::entity.html.twig" %}

{% block title %}EntityBundle:Categorie:view{% endblock %}

{% block body %}
<div class="row">
    <div class=" margin-top">
        <div class="col s12">
           <div class="col s8">
              <div class="panel panel-primary">
                <div class="panel-heading">
                    <p>Les éléments liés à la categorie <b>{{ categorie.name }}</b>
                    <a href="{{ path('create',{'id': categorie.id}) }}" class="right  btn waves-effect waves-light white teal-text lighten-3"><i class="material-icons">add</i></a>
                </div>
                 <div class="panel-footer">
                     <table>
                         <tr>
                             <td>
                        {% for products in categorie_products %}
                                <div class="card col s4 brown lighten-4">
                                    <div class="card-content">
                                        <div class="left"><p>{{ products.name }}</p></div>
                                        <div class="right">
                                            <a href="{{ path('frontview', {'id': products.id}) }}"class="right red-text lighten-3"><i class="material-icons">delete</i></a>
                                            <a href="{{ path('view', {'id': products.id}) }}" class="right  orange-text accent-2"><i class="material-icons">edit</i></a>
                                            <a href="{{ path('frontview', {'id': products.id}) }}"class="right teal-text lighten-3"><i class="material-icons">visibility</i></a>
                                        </div>
                                    </div>
                                          
                                </div>
                        {% endfor %}
                             </td>
                         </tr>
                     </table>
                 </div>
              </div>
            </div>
            <div class="col s4">
                <div class="panel panel-primary">
                       <div class="panel-heading">
                            <p>Attributs de la categorie <b>{{ categorie.name }}</b>
                            <a href="{{ path('attribute_create',{'id': categorie.id}) }}" class="right  btn waves-effect waves-light white teal-text lighten-3"><i class="material-icons">add</i></a>
                            </p>
                       </div>
                       <div class="panel-footer">
                            {% for attribute in categorie.attributes %}
                                <div class="chip">{{ attribute.name }}</div>
                            {% endfor %}
                       </div>
                </div>
            </div>
        <div>
    </div>
</div>
</div>
</div>
{% endblock %}
