{% extends 'base.html.twig' %}

{% block title %}
   Administration
{% endblock %}

{% block body %}
   
    <div class="container">
        <div class="row">
            <h4><center>Administration</center></h4>
            <ul class="collapsible popout" data-collapsible="accordion">
                <li>
                  <div class="collapsible-header">Page d'accueil</div>
                  <div class="collapsible-body row" style="padding:3%">
                      <form method="post" action="{{path('administration_siteadmin')}}">
                            <label for="">Le concept : </label>
                            <textarea name="concept" height="10rem" rows="40" cols="70">{{ concept }}</textarea>
                            <input type="submit" class="btn waves-effect waves-light" value="sauvgarder">
                            <span></span>                            
                      </form>
                      <div class="col m12">
                          <br><br>
                          <div class="col m2"></div>
                            <div class="col m3"><a href="#"><img src="http://www.freeiconspng.com/uploads/add-icon--line-iconset--iconsmind-29.png"  class="responsive-img"></a></div>
                            <div class="col m3"> <img src="http://www.lecture-academy.com/wp-content/uploads/couvertures/logo_267308-500x796.jpg" class="responsive-img" ></img></div>
                      </div>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header">Contenus</div>
                  <div class="collapsible-body"><span>A ajouter par charles</span></div>
                </li>
                <li>
                  <div class="collapsible-header">Contenus(2)</div>
                  <div class="collapsible-body"><span>Ajouter par charles</span></div>
                </li>
                <li>
                  <div class="collapsible-header">Pages statiques</div>
                  <div class="collapsible-body"><span>A ajouter par charles</span></div>
                </li>
                <li>
                  <div class="collapsible-header">Salons</div>
                  <div class="collapsible-body">
                      <span>A ajouter par gaetan</span>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header">Membres</div>
                  <div class="collapsible-body"  style="padding:3%">
                      <table>
                      {% for m in membres %}
                          <tr>
                              <td>{{m.prenom}} {{m.nom}}</td>
                              <td>{{m.mail}}</td>
                              <td>
                                  {%if m.statut == 1 %}
                                      Admin
                                  {%else%}
                                      Utilisateur
                                  {%endif%}
                              </td>
                              <td>
                                  <a href="{{ path("administration_deleteuser", {'id': m.id}) }}">
                                      <i class="material-icons">delete</i>
                                  </a>
                              </td>
                          </tr>
                      {% endfor %}
                      </table>
                      
                  </div>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
