{% extends 'base.html.twig' %}

{% block body %}


    <div class="row">
        <div>
        <div class="col s8">
           <div class="myContainer justify">
                <div id="">
                    <p>
                        {{ concept }}
                    </p>
                </div>
           </div>
        </div>
        <div  class="col s4 right-align">
            {% if id_membre == null %}
                <div class="card">
                    <div class="card-content">
                        {% if mailExist !=null %}
                            <p>{{mailExist}}</p>
                        {% endif %}
                        {{ form_start(email) }}
                            <div class="left-align">
                                <p>Inscrez-vous :</p><br>
                                {{ form_rest(email)}}
                            </div>
                            <div class="right-align">
                                <button class="btn waves-effect waves-light" type="submit">Ok</button>
                            </div>
                        {{ form_end(email)}}
                    </div>
                </div>
                 <div class="card">
                     <div class="card-content">
                            #menu flotant
                            <br>
                            prochain salon :
                            <br> A ajouter par gaetan
                       </div>
                    </div>
            {% else %}
                <div  class="col s12">
                            <div class="card">
                                <div class="card-content">
                                   #menu flotant
                                   <br>
                                   prochain salon :
                                   <br> A ajouter par gaetan
                                </div>
                            </div>
                </div>
            {% endif %}
                  </div>

        </div>
        <div class="col s12">
            <hr>
        </div>
        <div class="col s12">
            <p><b>A la une :</b></p>
            <div class="col s3">
                <div class=" card">
                    <div class="card-image waves-effect waves-block waves-light">
                      <img class="activator" hieght="10" src="http://static1.purepeople.com/articles/9/16/83/99/@/1996736-affiche-du-film-le-chasseur-et-la-reine-950x0-1.jpg">
                    </div>
                    <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-action brown">
                        <a href="#" class="">Voir details</a>
                    </div>
                    <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                      <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                 </div>
            </div>
            <div class="col s3">
                    <div class="card horizontal">
                      <div class="card-image">
                        <img src="https://lorempixel.com/100/190/nature/6">
                      </div>
                      <div class="card-stacked">
                        <div class="card-content">
                          <p>I am a very simple card. I am good at containing small bits of information.</p>
                        </div>
                        <div class="card-action">
                          <a href="#">Voir detail</a>
                        </div>
                      </div>
                    </div>
                </div>
            <div class="col s3">
                     <div class=" card">
                      <div class="col m12">
                            <div class="col m4">
                                <img  width="70px" src="https://lorempixel.com/100/190/nature/6">
                            </div>
                            <div class="col m8">
                                <p><b>Name</b></p>
                                <p><b>Date</b></p>
                                <p><b>autres</b></p>
                            </div>
                      </div>
                      <div class="">
                        <div class="card-content">
                          <p>I am a very simple card. I am good at containing small bits of information.</p>
                        </div>
                      </div>
                        <div class="card-action brown">
                          <a href="#">Voir detail</a>
                        </div>
                      
                    </div>
                </div>
        </div>
        <div class="col s12">
            <hr>
        </div>
        <div class="col s12">
            <p><b>Nous Contactez :</b></p>
            <div class="row">
                <div class="col s3">
                </div>
                <div class="col s6">
                    {{ form_start(form) }}
                        <div class="input-field">
                            <label>Nom :</label>
                            <input type="text" class="validate" name="nom"> 
                        </div>
                        <div class="input-field">
                            <label>E-mail :</label>
                            <input type="text" class="validate" name="mail"> 
                        </div>

                        {{ form_rest(form) }}
                        <div class="right">
                            <button class="btn waves-effect waves-light" type="submit" name="action">Envoyer
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    {{ form_end(form) }}
                </div>
                <div class="col s3">
                </div>          
            </div>
        </div>
    </div>
    
{% endblock %}

