
<div class=" card teal lighten-4">
    <div class="card-image waves-effect waves-block waves-light">
        {% if product.getValueByName('image') == null or product.getValueByName('image') == "" %}
            <img class="activator" height="200px"  src="{{ asset('images/default.png') }}">
        {% else %}
            <img class="activator" height="200px" src="{{ product.getValueByName('image') }}">
        {% endif %}
    </div>
    <div class="card-content">
        <span class="card-title activator white-text text-darken-4">{{ product.name }}<i class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-action brown lighten-5">
        <a href="{{ path('frontview', {"id":product.id}) }}" class="brown-text text-darken-4">Voir details</a>
    </div>
    <div class="card-reveal brown lighten-5">
        <span class="card-title grey-text text-darken-4  ">{{ product.name }}<i class="material-icons right">close</i></span>
        <p>{{ product.getValueByName('description') }}</p>
    </div>
</div>